player-connection-mode=Connect
player-connection-guid=436253486
player-connection-debug=0
player-connection-project-name=LightingTest
player-connection-wait-timeout=-1
player-connection-ip=192.168.1.197
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=5859374c49a14d8e8b6901549b1cfd7e
