player-connection-mode=Connect
player-connection-guid=2546076561
player-connection-debug=0
player-connection-project-name=RLTest
player-connection-wait-timeout=-1
player-connection-ip=192.168.1.196
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=766d7fe2bc5d4f18a17f03f8b660f064
